.combo-main-div {
  background-image: linear-gradient(white, rgb(239, 209, 110));
}
.combo-imagestyling1 {
  width: 600px;
  height: 350px;
}
.combo-heading1 {
  font-family: "roboto";
  font-size: 25px;
  font-weight: bolder;
}
.combo-subheading1 {
  font-family: "roboto";
  font-size: 20px;
  font-weight: bolder;
}
.combo-imagestyling1 {
  margin-right: 90px;
  border-radius: 5%;
  margin-bottom: 10px;
}
.combo-div1 {
  margin-top: 100px;
}
.menu-item-image {
  border-radius: 16px;
}
.shopnowheading {
  font-family: "Roboto";
  font-weight: bold;
  color: dimgray;
  font-size: 40px;
}
.menu-card-heading {
  font-family: "Roboto";
  color: dimgray;
  font-weight: bold;
  font-size: 20px;
}
.menu-item-link {
  font-family: "Roboto";
  font-size: 15px;
}
.logofooterdiv {
  margin-left: 370px;
  margin-top: 30px;
  text-align: center;
}
.logofootertext {
  font-size: 25px;
  font-family: "roboto";
  font-weight: bold;
  color: white;
}
.footerpara {
  font-family: "roboto";
  font-weight: bold;
  color: white;
  margin-top: 30px;
  margin-left: 45px;
}
.footerlogostyle {
  width: 150px;
  height: 150px;
  margin-right: 30px;
  margin-bottom: 5px;
}
.imagestyle2 {
  width: 60px;
  height: 40px;
  margin-left: 5px;
}

.footermaindiv {
  background-color: rgb(75, 72, 72);
}
.icon {
  border-radius: 100%;
  width: 20px;
  margin-left: 15px;
}
.imagestyle {
  width: 70px;
  height: 70px;
}
